<head>
  <title>Register an account</title>
<% include header.ejs %>
</head>


<% include nav.ejs %>




<div class="container">
    <div class="well">
      <% if(locals.errors){ %>
        <% for (var i = 0; i < locals.errors.length; i++) { %>
            <div class="alert alert-danger">
              <a><%= locals.errors[i].msg %></a>
            </div>
        <% } %>
       <% } else{ %>

      <% } %>



    </div>
</div>
<% include footer.ejs %>
