<%# <footer class="container-fluid footer">
  <p>Footer Text</p>
</footer>%>

<footer class="container-fluid footer navbar-bottom">
  <div class="row innerFoot">
      © 2017 Rashard Murdock | Kamal el Azizi Alaoui | Joven Macaldo

  </div>

</footer>
