<head>
  <title>pixr0</title>
<% include header.ejs %>
</head>


<% include nav.ejs %>


<div class="container">
    <div class="row">
      <%# loop through and display all messages in DB%>
        <% for (var i = 0; i < result.length; i++) { %>
            <div class="well mainwell">
              <a href="/images/<%= result[i].id %>"> <img class="msgImg" src="<%= '../'+result[i].imgUrl.split('/')[1]+'/'+result[i].imgUrl.split('/')[2]+'/'+result[i].imgUrl.split('/')[3] %>" alt=""></a><br /><br />
              <div class="imginfo">
                <b><%= result[i].ownerusername %></b>
                <%= result[i].description %>

              </div>


            </div>
        <% } %>

    </div>
</div>
<% include footer.ejs %>
