<head>
  <title>Blog</title>
<% include header.ejs %>
</head>


<% include nav.ejs %>


<div class="container">

    <div class="well">


          <% if(locals.success_msg){ %>
            <% for (var i = 0; i < locals.success_msg.length; i++) { %>
                <div class="alert alert-success">
                  <a><%= locals.success_msg[i] %></a>
                </div>
            <% } %>
           <% } else{ %>
          <% } %>

          <% if(locals.error_msg){ %>
            <% for (var i = 0; i < locals.error_msg.length; i++) { %>
                <div class="alert alert-danger">
                  <a><%= locals.error_msg[i] %></a>
                </div>
            <% } %>
           <% } else{ %>
          <% } %>


      <h2 class="page-header">Account Login</h2>
<form method="post" action="/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

    </div>
</div>
<% include footer.ejs %>
