<head>
  <title>pixr0</title>
<% include header.ejs %>
</head>

<% include nav.ejs %>
<div class="container manager">
  <h2>Welcome, <%= user.firstName %>!</h2>
  <p>
    Manage image posts here. Delete each message individually, or delete all entries using the button below.
  </p>
  <%# loop through and display all messages in DB%>
    <% for (var i = 0; i < result.length; i++) { %>
        <div class="well">
          <button type="button" class="close delMsg" aria-label="Close" data-id="<%= result[i].id %>">
          <span aria-hidden="true">&times;</span>
          </button><br  /><br />
          <p> <img class="msgImg" src="<%= '../'+result[i].imgUrl.split('/')[1]+'/'+result[i].imgUrl.split('/')[2]+'/'+result[i].imgUrl.split('/')[3] %>" alt=""></p><br />
          <p><b>Date posted:</b>  <%= result[i].createdAt %></p>
        </div>
    <% } %>

    <form action="/delete" method="post">
      <input type="submit" value="Delete all entries" class="btn btn-danger btn-block delAll" />
    </form>


</div>

<div>
  <% include footer.ejs %>
</div>
