<%# <footer class="container-fluid footer">
  <p>Footer Text</p>
</footer>%>

<footer class="container-fluid footer navbar-bottom">
  <div class="row innerFoot">
      <div class="col-sm-4">
        <p id="footer">CREATED BY</p>
        <p><a href="https://github.com/jmacaldo" target="_blank">joven macaldo</a></p>
      </div>
      <div class="col-sm-4">
        <p>
          FOLLOW ME ON SOCIAL MEDIA
        </p>
      </div>
      <div class="col-sm-4">
        <p>WEBSITE CREDITS</p>
        Stock photos from Pexels <br />
        Blog articles from UCLA, Design Shack, and CoinDesk
        Social media icons are from Icon Finder
      </div>
  </div>

</footer>
