<head>
  <title></title>
<% include postheader.ejs %>
</head>


<% include nav.ejs %>


<div class="container mainContainer">
    <div class="row">
      <%# loop through and display all messages in DB%>
        <% for (var i = 0; i < result.length; i++) { %>
            <div class="well postwell">
              <p class="msgTitle"><%= result[i].title %></p>
              <p class="msgBody">Posted on: <%= result[i].tstamp %></p>
              <img class="postmsgImg" src="<%= '../'+result[i].image.split('/')[1]+'/'+result[i].image.split('/')[2]+'/'+result[i].image.split('/')[3] %>" alt=""><br /><br />
              <p class="msgBody"><%= result[i].body %></p>
            </div>
        <% } %>

    </div>
</div>
<% include footer.ejs %>
