<head>
  <title>Register an account</title>
<% include header.ejs %>
</head>


<% include nav.ejs %>




<div class="container">
  <div class="well">


      <h2 class="page-header">Register</h2>
      <% if(locals.errors){ %>
        <% for (var i = 0; i < locals.errors.length; i++) { %>
            <div class="alert alert-danger">
              <a><%= locals.errors[i].msg %></a>
            </div>
        <% } %>
       <% } else{ %>

      <% } %>
    <form method="post" action="/register" enctype="application/json">
       <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="First Name" name="fname">
      </div>
      <div class="form-group">
       <label>Last Name</label>
       <input type="text" class="form-control" placeholder="Last Name" name="lname">
     </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username">
      </div>
       <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2">
      </div>
      <%# <label>Upload a profile photo</label>
      <input type="file" name="profImg"  placeholder='Choose a file...' /><br>%>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    </div>
    </div>
</div>
<% include footer.ejs %>
