<head>
  <title>pixr0</title>
<% include header.ejs %>
</head>
<% include nav.ejs %>
<div class="container mainContainer">
<div class="col-md-8 col-md-offset-2">


        <h3>File Upload</h3>
        <%= typeof msg != 'undefined' ? msg : '' %>
<form method="POST" action="/fileUpload" enctype="multipart/form-data">
	<!-- COMPONENT START -->
	<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" ><br>
    <label>Image Description</label>
    <textarea class="form-control" name="body" rows="10"></textarea> <br>
    <label>Image File</label>
    <input type="file" name="fileUpload"  placeholder='Choose a file...' /><br>


	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="reset" class="btn btn-danger">Reset</button>
	</div>
</form>
</div>
</div><!-- closig tag for container webdev  -->
<!-- footer starts here -->
<% include footer.ejs %>
