<head>
  <title>pixr0</title>
<% include header.ejs %>
</head>
<% include nav.ejs %>
<div class="container mainContainer">
<div class="col-md-8 col-md-offset-2">

  <% if(locals.success_msg){ %>
    <% for (var i = 0; i < locals.success_msg.length; i++) { %>
        <div class="alert alert-success">
          <a><%= locals.success_msg[i] %></a>
        </div>
    <% } %>
   <% } else{ %>
  <% } %>

  <% if(locals.error_msg){ %>
    <% for (var i = 0; i < locals.error_msg.length; i++) { %>
        <div class="alert alert-danger">
          <a><%= locals.error_msg[i] %></a>
        </div>
    <% } %>
   <% } else{ %>
  <% } %>

  <% if(locals.errors){ %>
    <% for (var i = 0; i < locals.errors.length; i++) { %>
        <div class="alert alert-danger">
          <a><%= locals.errors[i].msg %></a>
        </div>
    <% } %>
   <% } else{ %>

  <% } %>

        <h3>Image Upload</h3>
        <%= typeof msg != 'undefined' ? msg : '' %>
<form method="POST" action="/upload" enctype="multipart/form-data">
	<!-- COMPONENT START -->
	<div class="form-group">

    <label>Image Description</label> <i>Required. 150 characters max.</i>
    <textarea class="form-control" name="description" rows="10"></textarea> <br>
    <label>Tags</label> <i>Separate tags with a comma (e.g. dog, animal, pet, puppy)</i>
    <textarea class="form-control" name="tags" rows="1" cols="40"></textarea> <br>
    <label>Image File</label>
    <input type="file" name="image"  placeholder='Choose a file...' /><br>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="reset" class="btn btn-danger">Reset</button>
	</div>
</form>
</div>
</div><!-- closig tag for container webdev  -->
<!-- footer starts here -->
