<head>
  <title>User Profile</title>
<% include header.ejs %>
</head>
<% include nav.ejs %>
<div class="container webdev">
  <div class="well">
    <h2>Welcome, <%= user.firstName %>!</h2>
  </div>
</div> <!-- closig tag for container webdev  -->
<!-- footer starts here -->
<% include footer.ejs %>
