body {
  background-color: #fafafa;
}

html, body {
    height: 100%;
}

.err404 {
  background-color: blue;
  width: 100%;
  height: 100%;
  color: white
}
.submitBtn {
  background-color: #808080;
  border: #808080;
}

#navWelcome {
  float: right;
}

.fadein {
  -webkit-animation: fadein .5s ease-out 0s forwards;
}

.editImg {
  width: 400px;
}

.btn-lg {
  border:0 !important;
  background:none !important;
  padding-left: 0px;
  margin-left: 0px;
}

.commentico {
  width: 25px;
}

.imgid{
  display: none;
}

.navlogo {
  width: 110px;
  margin-top: 8px;
}

.managerName{
  font-size: 30px;
  margin-left: 10px;
}
.avatar{
  width: 32px;
  border-radius: 50%;
}

.lgavatar{
  width: 75px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.ownerusername {
  font-weight: bold;
  position: absolute;

  display: inline-block;
  top: 0;

}

.imginfo {
  position: relative;
  display: inline-block;

}

.float-left{
  float: left;
  color: #fff !important;
  padding-right: 10px;
  /*border-style: dashed;
  border-width: 2px;
  border-color: red;*/
}



.navbar-brand {
  color: #fff;
}

#nav{
  max-width: 70%;
  color: #000;

}
.menuItem{
  color: #000 !important;
}

.navbar-nav {
  float: right;
}

.glyphicon-picture {
  font-size: 40px;
}
.jumbotron {
  background-image: url("../media/blogbg.jpg");
  background-size: cover;
  height: 300px;
  color: #fff;
  position: relative;
  padding: 0px;
}


.navbar {
  margin-bottom: 0px;
  /* background-image: url('../media/resources/loginbg4.jpg'); */
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-color: #fff;
  z-index: 2;
  color: #000;
}

.glyphicon-edit{
  font-size: 25px;

}

.portfolio {
  max-width: 100%;
}

.portfolio body{
  background-color: #fff;
}

.webdevphoto  {
  max-width: 100%;
}

.manager {
  max-width: 600px;
  margin-top: 20px;
}

.managerTxt {
  font-weight: bold;
}

.msgImg {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#jumboTxt{
  position: absolute;
  vertical-align: top;
  left: 0;
  text-shadow: 5px 5px 10px #808080;
}

.blogHeader {
  margin: auto;
}

.well {
  max-width: 700px;
  margin:auto;
  margin-bottom: 20px !important;*/
  background-color: #fff;
}

.editWell {
  max-width: 440px;
  margin:auto;
  margin-bottom: 20px !important;*/
  background-color: #fff;
}

.mainwell {
  max-width: 500px;

}

.postwell {
  max-width:900px;
  margin:auto;
  margin-bottom: 15px !important;
  background-color: #fff;
}

.postmsgImg{
  width: 100%;
}



.left {
  text-align: left;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.msgBody {
  font-weight: 200;
}

.msgTitle {
  font-size: 20px;
  font-style: italic;
}

#headText {
  font-size: 70px;
  line-height: 50px;
}

#tagLine {
  line-height: 20px;
}

.footer {
  background-color: #24bbb2;
  height: 70px;
  color: #fff;
}


.socMedia {
  width: 40px;
  padding-left: 10px;
  color: red;
}

.innerFoot {
  width: 80%;
  padding: 20px;
  margin: auto;
  /*border-width: 1px;
  border-style: dashed;
  border-color: red;*/
  font-size: 13px;
  font-weight: lighter;
  /*letter-spacing: .3px;*/
  font-family: sans-serif;
}


.wrapper {
    min-height: 100%;
    margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}

.btnBlock {
  display: inline-block;
}

.btn-circle.btn-xl {
  width: 75px;
  height: 75px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;

}
.btn {
  margin: 5px;
}
